* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bl-primary-light: #ebecea; 
    --bl-primary-dark: #000000;
    --bl-prize: #ff0000;
    --bl-sostenibility: #008000;
    --bl-footer: #000000;
    --bl-header: #ff6900;
}

.container {
    width: 70%;
    margin: auto;
}


#header {
    min-height: 50px;
    background-color: #ff6900;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#categories {
    color: var(--bl-primary-light);

    span {
        padding: 0.15rem;
        font-size: 15px;
        font-weight: bold;
    }
}

#logo {
    height: 25px;
}

#icons {
    color: var(--bl-primary-light);
    
    i {
        padding: 0.25rem;
    }
}

#main_container {
    padding: 3rem 0 1.5rem 0;
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;

    img {
        width: 100%;
    }
}

.element {
    width: 32.5%;
    margin-bottom: 3rem;
    position: relative;

    h2 {
        font-size: 15px;
    }
}

.image_1 {
    display: inline-block;
}

.image_2 {
    display: none;
}

.image_1:hover {
    display: none;
}


.fa-brands.fa-gratipay {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color:rgb(255, 255, 255);
    position: absolute;
    top: 1rem;
    right: 0;
}

.offer_box {
    position: absolute;
    bottom: 7rem;
    left:0rem;
}

.offer {
    background-color: var(--bl-prize);
    padding: 0.3rem 0.5rem;
    font-weight: bold;
    color: var(--bl-primary-light);
}

.sustainability {
    background-color: var(--bl-sostenibility);
    padding: 0.3rem 0.5rem;
    font-weight: bold;
    color: var(--bl-primary-light);
}

.new_price {
    color: var(--bl-prize);
    font-weight: bold;
}

.old_price {
    text-decoration: line-through;
}

footer {
    background-color: #000000;
}

#footer {
    min-height: 70px;
    width: 70%;
    margin: auto;
    padding: 2rem 0;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div>h2,span {
        color:white
    }

    h2 {
        padding-bottom: 0.25rem;
        font-size: 20px;
    }

    span {
        font-size: 12px;
    }

    div>p {
        color: white;
        font-size: 12px;
        padding-bottom: 0.25rem;
    }
}  

#find {
    text-align: center;
}

#footer_icon {
    
    i {
        padding: 0.15rem;
        font-size: 15px;
    }
}